anyio==3.5.0
Brotli==1.0.9
click==8.1.2
cycler==0.11.0
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-extensions==0.0.18
dash-html-components==2.0.0
dash-table==5.0.0
et-xmlfile==1.1.0
fastapi==0.77.1
Flask==2.1.1
Flask-Compress==1.11
fonttools==4.33.3
graphviz==0.20
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
more-itertools==8.13.0
networkx==2.8
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
plotly==5.7.0
pydantic==1.9.0
pygraphviz==1.9
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scipy==1.8.0
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
tenacity==8.0.1
typing_extensions==4.2.0
Werkzeug==2.1.1
XlsxWriter==3.0.3
zipp==3.8.0
